/***************************************************
***						BASE					 ***
***************************************************/
@import url('https://fonts.cdnfonts.com/css/optimus-princeps');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-size: 12px;
	font-family: 'OptimusPrinceps', sans-serif;
}
body{
	background-color: black;
}

/***************************************************
***						NAVBAR					 ***
***************************************************/
nav{
	background-color: #40536b;
}
nav::after{
	content: '';
	clear: both;
	display: table;
}
nav #logo{
	float: left;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;
}
nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
nav ul li{
	float: left;
	display: inline-block;
	background-color: #40536b;
	margin: 0px 5px;
}
nav ul li:hover,
nav ul ul li:hover{
	background-color: #b27943;
	box-shadow: 0 0 5px #b27943,
				0 0 5px #f67943;
}
nav ul li:hover ul{
	opacity: 1;
	visibility: visible;
}
nav ul li a{
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;
}
nav ul ul{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: ease-in-out .3s;
}
nav ul ul li{
	position: relative;
	margin: 0;
	width: 200px;
	float: none;
	display: list-item;
	border-top: 1px solid #b27943;
	border-bottom: 1px solid #b27943;
}
.show,
input,
.icon{
	display: none;
}

@media all and (max-width: 970px){
	nav ul{
		margin-right: 0;
		float: left;
	}
	nav #logo{
		padding-left: 30px;
		width: 100%;
	}
	nav ul li,
	nav ul ul li{
		display: block;
		width: 100%;
		border: none;
	}
	nav ul ul{
		top: 70px;
		position: static;
		border-top: 0;
		float: none;
		display: none;
		opacity: 1;
		visibility: visible;
	}
	nav ul ul a{
		padding-left: 40px;
	}
	nav ul li:hover,
	nav ul ul li:hover{
		box-shadow: none;
	}
	.show{
		display: block;
		color: white;
		font-size: 18px;
		padding: 0 20px;
		line-height: 70px;
		cursor: pointer;
	}
	.show:hover{
		background-color: #b27943;
	}
	.icon{
		display: block;
		color: white;
		position: absolute;
		right: 40px;
		line-height: 70px;
		font-size: 25px;
		cursor: pointer;
	}
	.show+a, ul{
		display: none;
	}
	[id^=btn]:checked+ul{
		display: block;
	}
}

/***************************************************
***						MAIN					 ***
***************************************************/
#main-wrapper{
	display: flex;
	justify-content: center;
}
#main{
	display: flex;
	background-color: #171715;
	min-height: calc(100vh - 70px);
	width: 90%;
}

/***************************************************
***						GALLERY					 ***
***************************************************/
#gallery-wrapper{
	padding: 5%;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
#gallery-wrapper img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}
#gallery-wrapper .wide{
	grid-column: span 2;
}
#gallery-wrapper .tall{
	grid-row: span 2;
}
#gallery-wrapper .big{
	grid-column: span 2;
	grid-row: span 2;
}
#gallery-wrapper div{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}
#gallery-wrapper div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
#gallery-wrapper div:hover{
	cursor: pointer;
	scale: 1.02;
}
#modal{
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: 0.25s ease-out;
}
#modal.open{
	opacity: 1;
	pointer-events: all;
}
#modal #full-img{
	position: absolute;
	max-height: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#modal #caption{
	color: white;
	font-size: 2rem;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
	background-color: #40536b;
	border-radius: 5px;
	padding: 5px;
}